<mat-toolbar class="header mat-elevation-z4">
    <script src="https://kit.fontawesome.com/b88bdd215f.js" crossorigin="anonymous"></script>
    <span>
        <a href="/">
            <img class="logo" src="assets/images/logo.png" alt="logo" title="logo SimpleLibrary">
        </a>
    </span>
    <span class="button-group">
        <a routerLink="/livros"><button mat-raised-button color="basic">Livros</button></a>
        <a><button mat-raised-button color="basic">Autores</button></a>
        <a><button mat-raised-button color="basic">Categorias</button></a>
    </span>
    <span class="bt-group">
        <a><button mat-raised-button color="basic">Login</button></a>
        <a><button mat-raised-button color="basic">Cadastro</button></a>
    </span>
</mat-toolbar>
